@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p><font size="4">Our purpose is to be able to tranform the worldview of our customers, delivering the best quality books at competitive prices.</font></p>