@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Our purpose is to be able to tranform the worldview of our customers, delivering the best quality books at competitive prices.</p>