@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Support:</strong> <a href="mailto:j4mmbr@gmail.com">j4mmbr@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:j4mmbr@gmail.com">j4mmbr@gmail.com</a><br />
    <strong>Developer team:</strong> <a href="mailto:j4mmbr@gmail.com">j4mmbr@gmail.com</a><br />
    <strong>Everything:</strong> <a href="mailto:j4mmbr@gmail.com">j4mmbr@gmail.com</a><br />
</address>
