@{
    ViewData["Title"] = "Home Page";
}
<center>
    <div>
        <h1>Welcome to our library!</h1>
        <br />
    </div>
    <div>
        <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_960_720.jpg" width="380" />
        <br /><br />
    </div>
    <div>
        <h3>Here we'll build the future!</h3>
        <p>Soon we will make available our virtual page for buying books.</p>
    </div>
</center>